body {
    background-color: rgb(0, 0, 0);
    font-family: system-ui;
    display: grid;
    /* place-content: center; */
    min-height: auto;
    margin: 0
  }
  body h1 {
    margin: 1rem;
    font-weight: 900;
    text-align: left;
    font-size: 2.5rem;
  }
  body h1 .gradient-text {
    display: block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    color: transparent;
    background-size: 200%;
    background-repeat: none;
    background-position: left center;
  }
  body h1 .gradient-text.blue {
    animation: a1 9s infinite ease;
    background-image: linear-gradient(to right, #EDAEF9 0%, #81B1FA 50%, #fff 100%);
  }
  body h1 .gradient-text.purple {
    animation: a2 9s infinite ease;
    background-image: linear-gradient(90deg, #5a5bf3 0%, #91e7d9 50%, #fff 100%);
  }
  body h1 .gradient-text.yellow {
    animation: a3 9s infinite ease;
    background-image: linear-gradient(90deg, #65F4CD 0%, #4799E9 50%, #fff 100%);
  }
  
  @keyframes a1 {
    33.333%, 83.333% {
      background-position: right center;
      background-size: 2000%;
    }
    0%, 16.667%, 100% {
      background-position: left center;
      background-size: 200%;
    }
  }
  @keyframes a2 {
    0%, 16.667%, 66.667%, 100% {
      background-position: right center;
      background-size: 2000%;
    }
    33.333%, 50% {
      background-position: left center;
      background-size: 200%;
    }
  }
  @keyframes a3 {
    0%, 50%, 100% {
      background-position: right center;
      background-size: 2000%;
    }
    66.667%, 83.333% {
      background-position: left center;
      background-size: 200%;
    }
  }
  h4 {
    
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-top: 8rem;
    margin-bottom: 3rem;
    text-align: center;
    
  }
  .form-control{
    font-weight: 500;
    color:whitesmoke;
    background-color: #1a1a1a;

    border: 1px solid #1a1a1a;
  }
  .form-control:focus{
    background-color:#1a1a1a;
    color: whitesmoke;
    border-color:black;
    box-shadow: none;
  }

  .some1{
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;


  }
  .some2{
    
    width: 80%;
    display: block;
    margin-top:1rem;
    margin-right: auto;
    margin-left: auto;


  }
  
  .grad {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    padding: 8px 42px;
    text-align: center;
    font-weight: 600;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 18px;
    display: block;
   
    
  }

  .grad:hover {
    background-position: right center; /* change the direction of the change here */
 
    text-decoration: none;
  }
  footer{
  margin-top: 4rem;
   background:linear-gradient(to right, #01ffff 0%, #069af0 100%);
    
  height: 10px;

   
  }
  .allButFooter{
    min-height: calc(100vh - 75px);
  }
  p{
    text-align: center;
    color: white;
    margin-top:10rem;
    
  }

canvas { position: fixed; touch-action: none;z-index:-1 }

@media (min-width:700px){
 body{
   margin:0
 }
 body h1 {
  font-weight: 900;
  text-align: center;
  font-size: 3.5rem;
 
}
.some1{
width: 25%;


}
.some2{

width: 25%;



}
    h4{
      text-align: center;
      margin-top: 5rem;
    }
     p{
      margin-top:10rem;
    }
    .allButFooter{
      min-height: calc(100vh - 0px);
    } 
}
